body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0;
    background-color: #000046;
    background: -webkit-linear-gradient(to left, #1CB5E0, #000046);
    background: linear-gradient(to left, #1CB5E0, #000046);
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
}
.navbar-left {
    display: grid;
    background-color:rgb(9, 9, 78);
    padding: 20px 0px;
    font-size: 250%;
    text-align: center;
    color: aliceblue;
    grid-template-columns: 3em 1fr;
}
.navbar-left>p {
    margin: 0;
}

#logo {
    width: 3em;
    margin-left: 10px;
}
#versiculo {
    font-size: 13px;
    margin-top: 15px;
    grid-column: 1/3;
}

#galeria {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

.frame {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    margin-right: 3em;
    margin-bottom: 3em;
}

.image {
    max-width: 75%;
    max-height: 225px;
}

.frame { transition: transform 0.5s ease-in-out; }

.frame:hover {
    transform: scale(1.18);
    cursor: pointer;
}

dialog {
    width: 50%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.65);
}

.image-container{
    display: flex;
    width: 100%;
    height: 100vh;
}

#dialogContent {
    max-width: 90%;
    max-height: 90vh;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

#closeDialog {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

#closeDialog:focus {
    outline: none;
}

#closeDialog:hover {
    background-color: #666666;
}

@media screen and (max-width: 768px) {
    #galeria {
        grid-template-columns: 85%;
    }
    .frame {
        margin-right: 0;
    }
    .image {
        max-width: 90%;
        max-height: 25em;
    }
    dialog {
        width: 90%;
    }
    
}