body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0;

}

.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
}
.navbar-left {
    display: grid;
    background-color:rgb(9, 9, 78);
    padding: 20px 0px;
    font-size: 70px;
    text-align: center;
    color: aliceblue;
}

.navbar-left>div {
    margin-top: -70px;

}

#logo {
    width: 3em;
    margin-left: 10px;
}
#versiculo {
    font-size: 13px;
    margin-top: 15px;
}