body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color:rgb(125, 208, 219);
}

header {
    color: rgb(125, 208, 219);
    font-size: 30px;
    font-weight:bold;
    margin-right: 100px;
}

#logo {
    width: 30%;
    margin-left: 20%;
}

.slider {
    display: grid;
    width: 100%;
    height: 38%;
    display: inline-block;
    text-align: right;
}

.slider img {
    top: 10px;
    width: 50%;
}

.navbar-right {
    box-shadow: 0px 5px 5px 2.5px rgba(0,0,0,0.75);
}

.navbar {
    position: sticky;
    top: 0px;
}

.navbar-left {
    display: flex;
    align-items: center;
    background-color:rgb(125, 208, 219);
}

.navbar-left div {
    background-color: #e92d14;
    float: left;
    text-align: center;
    width: 5em;
}

.navbar-left > * {
    padding: 10px;
}

#cuerpo {
    display: grid;
}